fieldset {
    background-color: #EEE;
    margin-bottom: 20px;
    border: 2px solid #FF0000;
}
legend {
    background-color: #bb0d0d;
    color: #FFF;
    padding: 5px;
}
parei no modulo 3 assitir ao video 17